@import "../../Styling/global.scss";

.slick-dots {
  bottom: 8rem !important;
  background-color: transparent !important;

  li {
    margin: 0 1.5rem 0 1.5rem !important;

    button {
      &:hover,
      &:focus {
        outline: none !important;
        &:before {
          opacity: 1 !important;
        }
      }

      &:before {
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        // content: $slick-dot-character;
        width: 20px !important;
        height: 20px !important;
        // font-family: $slick-font-family;
        font-size: 2rem !important;

        // line-height: 20px;
        text-align: center !important;
        color: $white !important;
        opacity: 0.8 !important;
        -webkit-font-smoothing: antialiased !important;
        -moz-osx-font-smoothing: grayscale !important;
      }
    }

    &.slick-active button:before {
      color: $logo-green !important;
      opacity: 1 !important;
    }
  }
}
