@import "../../Styling/global.scss";

// .slider-container {
//   height: 90vh;
//   width: 100vw;

//   margin: 10rem;
// }

.slideshow-image {
  height: 90vh;
  width: 100vw;

  overflow: hidden;

  object-fit: cover;

  // margin-bottom: 2rem;
}

// @include x-small {
//   .slideshow-image {
//     height: 35vh;
//   }
// }

// @include small {
//   .slideshow-image {
//     height: 50vh;
//   }
// }

// @include medium {
//   .slideshow-image {
//     height: 55vh;
//   }
// }

// @include large {
//   .slideshow-image {
//     height: 45vh;
//   }
// }

// @include extra-large {
//   .slideshow-image {
//     height: 45vh;
//   }
// }

// @include extra-extra-large {
//   .slideshow-image {
//     height: 60vh;
//   }
// }
