@import "../../Styling/global.scss";

.contact-form-section {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: auto;
  padding: 10rem 0 10rem 0;
  margin: 10rem 0 0 0;
  background-color: $dark-green;
}

.form-heading {
  // margin: 1rem 0 3rem 0;

  font-size: 2.3rem;
  text-align: center;

  color: $main-font-green;
  font-family: $headings-font;
}

.heading-underline {
  height: 0.4rem;
  width: 10rem;
  background-color: $dark-green;
  border-radius: 5rem;

  margin-top: 1rem;
}

.contact-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: auto;

  // Same settings as map and text container in kontakt.mosule.scss
  margin: 3rem;
  width: 30rem;

  background-color: white;
  padding: 5rem 0 2rem 0;

  border-radius: 0.5rem;
  box-shadow: rgba(26, 79, 67, 0.24) 0px 3px 8px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  margin: 3rem;
  font-family: $main-font-font-family;
  color: $main-font-green;
}

// This will be used for larger screens
.input-label-wrapper {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.contact-form-label {
  margin: 0 0 1rem 2rem;
  font-size: 1.6rem;
}

.contact-form-input {
  margin: 0 0 2rem 2rem;

  outline: none;
  border: solid 2px $logo-green;
  border-top: none;
  border-right: none;
  border-left: none;

  padding: 1rem 0.5rem 1rem 0.5rem;
  font-size: 1.5rem;

  background-color: lighten($eggshell, 5%);

  &::placeholder {
    font-family: $roboto-light-italic-font-family;
    letter-spacing: 0.1rem;
  }

  &:active {
    .contact-form-input:hover {
      border-bottom: solid 2px $brighter-logo-green;
      border-radius: 0.3rem;
      background-color: lighten($eggshell, 3%);
      font-size: 1.6rem;
    }
  }
}

@media (hover: hover) {
  .contact-form-input:hover {
    border-bottom: solid 2px $brighter-logo-green;
    border-radius: 0.3rem;
    background-color: lighten($eggshell, 3%);
    font-size: 1.6rem;
  }
}

.text-container {
  resize: none;
  height: 10rem;
  width: 85%;
}

.submit-button {
  align-self: center;
  @include gradient-button-dark;

  margin: 2.5rem 0 0 0;
}

// ? Media Queries

@include small {
  .contact-form-container {
    width: 40rem;
    height: auto;
  }

  .input-label-wrapper {
    width: 100%;
  }

  .contact-form-input {
    width: 50%;
  }

  .text-container {
    width: 85%;
  }
}

@include medium {
  .contact-form-container {
    width: 60rem;
    height: auto;

    padding-left: 5rem;
  }

  .form-heading {
    width: 90%;
    margin-left: -5rem;
  }

  .heading-underline {
    margin-left: -5rem;
  }

  .contact-form {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 5rem 5rem 3rem 5rem;

    // justify-content: center;
    // align-items: center;
  }

  .form-heading {
    padding-top: 3rem;
  }

  .input-label-wrapper {
    width: 50%;

    &:nth-of-type(5) {
      width: 100%;
      margin-top: 2rem;
    }
    &:nth-of-type(6) {
      width: 100%;
      margin-left: -3rem;
      margin-top: 3rem;
    }
  }

  .contact-form-input {
    width: 70%;
  }
}

@include large {
  .contact-form-container {
    width: 60rem;
    height: auto;

    padding-left: 5rem;
  }

  .form-heading {
    width: 90%;
    margin-left: -5rem;
  }

  .heading-underline {
    margin-left: -5rem;
  }

  .contact-form {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 5rem 5rem 3rem 5rem;

    // justify-content: center;
    // align-items: center;
  }

  .form-heading {
    padding-top: 3rem;
  }

  .input-label-wrapper {
    width: 50%;

    &:nth-of-type(5) {
      width: 100%;
      margin-top: 2rem;
    }
    &:nth-of-type(6) {
      width: 100%;
      margin-left: -3rem;
      margin-top: 3rem;
    }
  }

  .contact-form-input {
    width: 70%;
  }
}

@include extra-large {
  .contact-form-container {
    width: 60rem;
    height: auto;

    padding-left: 5rem;
  }

  .form-heading {
    width: 90%;
    margin-left: -5rem;
  }

  .heading-underline {
    margin-left: -5rem;
  }

  .contact-form {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 5rem 5rem 3rem 5rem;

    // justify-content: center;
    // align-items: center;
  }

  .form-heading {
    padding-top: 3rem;
  }

  .input-label-wrapper {
    width: 50%;

    &:nth-of-type(5) {
      width: 100%;
      margin-top: 2rem;
    }
    &:nth-of-type(6) {
      width: 100%;
      margin-left: -3rem;
      margin-top: 3rem;
    }
  }

  .contact-form-input {
    width: 70%;
  }
}

@include extra-extra-large {
  .contact-form-container {
    width: 60rem;
    height: auto;

    padding-left: 5rem;
  }

  .form-heading {
    width: 90%;
    margin-left: -5rem;
  }

  .heading-underline {
    margin-left: -5rem;
  }

  .contact-form {
    flex-direction: row;
    flex-wrap: wrap;

    padding: 5rem 5rem 3rem 5rem;

    // justify-content: center;
    // align-items: center;
  }

  .form-heading {
    padding-top: 3rem;
  }

  .input-label-wrapper {
    width: 50%;

    &:nth-of-type(5) {
      width: 100%;
      margin-top: 2rem;
    }
    &:nth-of-type(6) {
      width: 100%;
      margin-left: -3rem;
      margin-top: 3rem;
    }
  }

  .contact-form-input {
    width: 70%;
  }
}

@include extra-extra-small {
  .contact-form-container {
    width: 20rem;
    height: auto;
  }
}

@include extra-extra-small {
  .contact-form-input {
    width: 75%;
  }

  .submit-button {
    width: 70%;
  }
}
