@import "../../Styling/global.scss";

.classes-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;

  margin: 5rem 0 5rem 0;
}

.classes-sub-menu {
  width: 100%;
  height: auto;
}

// .class-container {
//   display: flex;
//   flex-direction: column;

//   width: 60%;
//   max-width: 100rem;

//   height: auto;
//   border-radius: 1rem;

//   margin: 5rem;

//   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
// }

// Class img AND class img right (every 2nd)
// .class-img,
// .class-img-right {
//   width: 100%;
//   height: 20rem;

//   object-fit: cover;
//   object-position: center;

//   border-top-left-radius: 1rem;
//   border-top-right-radius: 1rem;
// }

// .text-container {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   //   justify-content: center;

//   // !!! Is this a solution for overall card styling?!
//   // Todo: Still ned to find a solution for image object fit
//   height: auto;
//   min-height: 35rem;
// }

// .headings {
//   font-size: 3rem;
//   letter-spacing: 0.1rem;
//   margin: 4rem 0 2rem 0;
//   font-family: $roboto-bold-font-family;

//   width: 80%;
// }

// .subheadings {
//   font-size: 1.6rem;
//   margin-bottom: 0.8rem;
//   font-family: $roboto-regular-font-family;
// }

// .headings,
// .subheadings {
//   color: $headings-colour;
//   text-align: center;
// }

// .class-letter {
//   font-size: 1.8rem;
// }

// .list-container {
//   width: 80%;
//   text-align: center;

//   //   list-style: inside circle;
//   list-style: none;

//   li {
//     margin-bottom: 1rem;
//     font-family: $main-font-font-family;
//     font-size: 1.6rem;
//     line-height: 2.4rem;
//   }
// }

// .price-button {
//   @include gradient-button-light;
//   margin-top: 2.5rem;
//   //   height: 5rem;
//   //   padding: 0 2rem;
// }

// .book-contact-button {
//   @include gradient-button-dark;

//   margin: 2rem 0 5rem 0;
// }

// // ? Media Queries

// @include small {
//   .class-container {
//     max-width: 35rem;
//   }
// }

// @include medium {
//   .class-container {
//     width: 70%;
//     flex-direction: row;
//     // max-height: 40rem;

//     // Every second container - also takes on .class-img-right
//     &:nth-of-type(2n) {
//       flex-direction: row-reverse;
//     }
//   }

//   .img-container {
//     width: 40%;
//     // // min-width: 20rem;
//   }

//   .class-img {
//     height: 100%;

//     min-width: 20rem;

//     border-top-left-radius: 1rem;
//     border-bottom-left-radius: 1rem;
//     border-top-right-radius: 0;
//   }

//   .class-img-right {
//     height: 100%;

//     min-width: 20rem;

//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     border-top-right-radius: 1rem;
//     border-bottom-right-radius: 1rem;
//   }
// }

// @include large {
//   .class-container {
//     width: 70%;
//     flex-direction: row;
//     // max-height: 30rem;

//     // Every second container - also takes on .class-img-right
//     &:nth-of-type(2n) {
//       flex-direction: row-reverse;
//     }
//   }

//   .img-container {
//     width: 40%;
//   }

//   .class-img {
//     height: 100%;

//     min-width: 25rem;

//     border-top-left-radius: 1rem;
//     border-bottom-left-radius: 1rem;
//     border-top-right-radius: 0;
//   }

//   .class-img-right {
//     height: 100%;

//     min-width: 25rem;

//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     border-top-right-radius: 1rem;
//     border-bottom-right-radius: 1rem;
//   }
// }

// @include extra-large {
//   .class-container {
//     width: 70%;
//     flex-direction: row;
//     // max-height: 30rem;

//     // Every second container - also takes on .class-img-right
//     &:nth-of-type(2n) {
//       flex-direction: row-reverse;
//     }
//   }

//   .img-container {
//     width: 40%;
//   }
//   .class-img {
//     height: 100%;

//     min-width: 35rem;

//     object-position: center;
//     object-fit: cover;

//     border-top-left-radius: 1rem;
//     border-bottom-left-radius: 1rem;
//     border-top-right-radius: 0;
//   }

//   .class-img-right {
//     height: 100%;

//     min-width: 35rem;

//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     border-top-right-radius: 1rem;
//     border-bottom-right-radius: 1rem;
//   }
// }

// @include extra-extra-large {
//   .class-container {
//     width: 70%;
//     flex-direction: row;
//     // max-height: 30rem;

//     // Every second container - also takes on .class-img-right
//     &:nth-of-type(2n) {
//       flex-direction: row-reverse;
//     }
//   }

//   .img-container {
//     width: 40%;
//   }

//   .class-img {
//     height: 100%;

//     object-position: center;
//     object-fit: cover;

//     border-top-left-radius: 1rem;
//     border-bottom-left-radius: 1rem;
//     border-top-right-radius: 0;
//   }

//   .class-img-right {
//     height: 100%;

//     min-width: 35rem;

//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     border-top-right-radius: 1rem;
//     border-bottom-right-radius: 1rem;
//   }

//   .list-container {
//     width: 70%;
//   }
// }
