@import "../../Styling/global.scss";

.classes-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;

  margin: 0 0 5rem 0;
}

// Sub menu section
.classes-sub-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  max-width: 100rem;
  height: auto;

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    width: 80%;

    list-style: none;

    li {
      font-family: $montserrat-semi-bold-font-family;

      margin: 1rem 2rem 1rem 2rem;
    }
  }
}

.hashlink {
  color: $headings-colour;
  text-decoration: none;
  font-size: 1.5rem;

  &:active {
    color: $brighter-logo-green;
  }
}

@media (hover: hover) {
  .hashlink:hover {
    color: $brighter-logo-green;
  }
}

// Class section

.class-section {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 20rem 0 10rem 0;
}

.class-heading-circle {
  position: absolute;
  top: -10rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 20rem;
  height: 20rem;

  // background-color: $dark-green;

  background-image: linear-gradient(
    to right top,
    #1a4f43,
    #1a5548,
    #1a5b4c,
    #1a6151,
    #1a6756,
    #1a6756,
    #1a6756,
    #1a6756,
    #1a6151,
    #1a5b4c,
    #1a5548,
    #1a4f43
  );

  border-radius: 50%;

  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.class-icons {
  width: 7rem;
  height: 7rem;
}

.headings {
  font-size: 2.3rem;
  letter-spacing: 0.1rem;
  text-align: center;

  color: $cream;

  font-family: $roboto-regular-font-family;
}

.section-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100vw;
  height: auto;
  min-height: 50rem;

  background-color: lighten($eggshell, 4%);
}

.text-container {
  display: flex;
  flex-direction: column;
  font-family: $main-font-font-family;
  font-size: 1.6rem;
  color: $main-font-green;

  width: 80%;
  margin-top: 13rem;

  h4 {
    align-self: center;
    font-size: 2.1rem;
    text-align: center;
  }

  ul {
    margin: 3rem 0 0 0;
    list-style: circle;

    li {
      margin: 0 0 1rem 0;
    }
  }
}

// For classes that include differing rules within
.list-heading-style {
  list-style: square;
}

.divider {
  background-color: $dark-green;
  margin: 1.5rem 0 1.5rem 0;
}

.price-section {
  display: flex;
  flex-direction: column;
  // align-items: center;

  margin: 4rem 0 7rem 0;

  h3 {
    font-size: 2rem;
    // text-decoration: overline;
  }

  ul {
    list-style: none;
    // text-align: center;
  }
}

// ? Media Queries

@include x-small {
  .classes-sub-menu {
    background-color: $darker-green;
    padding: 1rem 0 1rem 0;
  }

  .hashlink {
    color: $cream;
    text-decoration: none;
  }
}

@include small {
  .classes-sub-menu {
    background-color: $darker-green;
    padding: 1rem 0 1rem 0;
  }

  .hashlink {
    color: $cream;
    text-decoration: none;
  }
}

@include medium {
  .classes-sub-menu {
    background-color: $darker-green;
    padding: 1rem 0 1rem 0;
  }

  .hashlink {
    color: $cream;
    text-decoration: none;
  }
}

@include large {
  .classes-sub-menu {
    margin-top: 3rem;
  }
}

@include extra-large {
  .classes-sub-menu {
    margin-top: 3rem;
  }
}

@include extra-extra-large {
  .classes-sub-menu {
    margin-top: 3rem;
  }
}

// .class-container {
//   display: flex;
//   flex-direction: column;

//   width: 60%;
//   max-width: 100rem;

//   height: auto;
//   border-radius: 1rem;

//   margin: 5rem;

//   box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
// }

// Class img AND class img right (every 2nd)
// .class-img,
// .class-img-right {
//   width: 100%;
//   height: 20rem;

//   object-fit: cover;
//   object-position: center;

//   border-top-left-radius: 1rem;
//   border-top-right-radius: 1rem;
// }

// .text-container {
//   width: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   //   justify-content: center;

//   // !!! Is this a solution for overall card styling?!
//   // Todo: Still ned to find a solution for image object fit
//   height: auto;
//   min-height: 35rem;
// }

// .subheadings {
//   font-size: 1.6rem;
//   margin-bottom: 0.8rem;
//   font-family: $roboto-regular-font-family;
// }

// .headings,
// .subheadings {
//   color: $headings-colour;
//   text-align: center;
// }

// .class-letter {
//   font-size: 1.8rem;
// }

// .list-container {
//   width: 80%;
//   text-align: center;

//   //   list-style: inside circle;
//   list-style: none;

//   li {
//     margin-bottom: 1rem;
//     font-family: $main-font-font-family;
//     font-size: 1.6rem;
//     line-height: 2.4rem;
//   }
// }

// .price-button {
//   @include gradient-button-light;
//   margin-top: 2.5rem;
//   //   height: 5rem;
//   //   padding: 0 2rem;
// }

// .book-contact-button {
//   @include gradient-button-dark;

//   margin: 2rem 0 5rem 0;
// }

// // ? Media Queries

// @include small {
//   .class-container {
//     max-width: 35rem;
//   }
// }

// @include medium {
//   .class-container {
//     width: 70%;
//     flex-direction: row;
//     // max-height: 40rem;

//     // Every second container - also takes on .class-img-right
//     &:nth-of-type(2n) {
//       flex-direction: row-reverse;
//     }
//   }

//   .img-container {
//     width: 40%;
//     // // min-width: 20rem;
//   }

//   .class-img {
//     height: 100%;

//     min-width: 20rem;

//     border-top-left-radius: 1rem;
//     border-bottom-left-radius: 1rem;
//     border-top-right-radius: 0;
//   }

//   .class-img-right {
//     height: 100%;

//     min-width: 20rem;

//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     border-top-right-radius: 1rem;
//     border-bottom-right-radius: 1rem;
//   }
// }

// @include large {
//   .class-container {
//     width: 70%;
//     flex-direction: row;
//     // max-height: 30rem;

//     // Every second container - also takes on .class-img-right
//     &:nth-of-type(2n) {
//       flex-direction: row-reverse;
//     }
//   }

//   .img-container {
//     width: 40%;
//   }

//   .class-img {
//     height: 100%;

//     min-width: 25rem;

//     border-top-left-radius: 1rem;
//     border-bottom-left-radius: 1rem;
//     border-top-right-radius: 0;
//   }

//   .class-img-right {
//     height: 100%;

//     min-width: 25rem;

//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     border-top-right-radius: 1rem;
//     border-bottom-right-radius: 1rem;
//   }
// }

// @include extra-large {
//   .class-container {
//     width: 70%;
//     flex-direction: row;
//     // max-height: 30rem;

//     // Every second container - also takes on .class-img-right
//     &:nth-of-type(2n) {
//       flex-direction: row-reverse;
//     }
//   }

//   .img-container {
//     width: 40%;
//   }
//   .class-img {
//     height: 100%;

//     min-width: 35rem;

//     object-position: center;
//     object-fit: cover;

//     border-top-left-radius: 1rem;
//     border-bottom-left-radius: 1rem;
//     border-top-right-radius: 0;
//   }

//   .class-img-right {
//     height: 100%;

//     min-width: 35rem;

//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     border-top-right-radius: 1rem;
//     border-bottom-right-radius: 1rem;
//   }
// }

// @include extra-extra-large {
//   .class-container {
//     width: 70%;
//     flex-direction: row;
//     // max-height: 30rem;

//     // Every second container - also takes on .class-img-right
//     &:nth-of-type(2n) {
//       flex-direction: row-reverse;
//     }
//   }

//   .img-container {
//     width: 40%;
//   }

//   .class-img {
//     height: 100%;

//     object-position: center;
//     object-fit: cover;

//     border-top-left-radius: 1rem;
//     border-bottom-left-radius: 1rem;
//     border-top-right-radius: 0;
//   }

//   .class-img-right {
//     height: 100%;

//     min-width: 35rem;

//     border-top-left-radius: 0;
//     border-bottom-left-radius: 0;
//     border-top-right-radius: 1rem;
//     border-bottom-right-radius: 1rem;
//   }

//   .list-container {
//     width: 70%;
//   }
// }
