@import "../../Styling/global.scss";

// ? Full page

.home-page-container {
  position: relative;
  width: 100vw;
}

.headings {
  color: $headings-colour;
  font-family: $headings-font;
  font-size: $headings-font-size;

  text-align: center;

  hyphens: auto;
  word-wrap: break-word;

  padding: 0 2rem 0 2rem;
}

// ? Landing View

.landing-view-container {
  position: relative;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.heading-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 35vh;

  margin: 2rem 0 3rem 0;

  background-color: $white;

  z-index: 9005 !important;

  h2 {
    text-align: center;
    font-family: $roboto-bold-italic-font-family;
    font-size: 3rem;
    line-height: 4rem;
    color: $dark-green;

    width: 80%;
    max-width: 150rem;

    letter-spacing: 0.2rem;
    text-shadow: 0px 11px 10px rgba(84, 83, 81, 0.5);
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 2.8rem 0 0 0;
  width: 80%;
}

.more-about-button {
  @include gradient-button-cream;

  text-decoration: none;
  width: fit-content;
  padding: 1rem 2rem 1rem 2rem;

  box-shadow: none !important;
}

// ? About Section

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
  background-color: $eggshell;

  padding: 6rem 0 10rem 0;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3rem;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  padding: 1rem 0 4rem 0;
}

.about-paragraph {
  color: $main-font-green;
  font-family: $main-font-font-family;

  font-size: $paragraph-font-size-small;

  max-width: 35rem;

  text-align: center;
  line-height: 2.5rem;

  padding: 3rem 0 4.5rem 0;
}

.gradient-button-dark {
  @include gradient-button-dark;
}

.team-photo {
  width: 60%;
  max-width: 65rem;

  object-fit: contain;
  border-radius: 0.8rem;
  margin-top: 2.5rem;
}

// ? Extra Info Section

.extra-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;

  padding: 10rem 0 10rem 0;
}

.extra-info-heading {
  width: 80%;
  max-width: 60rem;

  margin-top: 3rem;
}

.extra-info-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 6rem 0 2rem 0;
}

.info-boxes {
  display: grid;
  grid-template-rows: 11rem 9rem;

  width: 20rem;
  height: 20rem;

  margin: 2rem;
}

.info-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 7rem;
  }
}

.info-text {
  display: flex;
  justify-content: center;
  text-align: center;

  h4 {
    font-family: $headings-font;
    font-size: 1.4rem;
  }
}

.gradient-button-light {
  @include gradient-button-light;
}

.dividing-line {
  background-color: lighten($dark-green, 5%);
  height: 0.25rem;
  width: 80%;

  margin: 15rem 0 0 0;
}

// ? Berufskraftfahrerqualifikation Section

.berufs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;

  padding: 0 0 10rem 0;
  margin-top: -2rem;
}

.berufs-background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $brighter-logo-green;
  width: 100%;
  height: auto;

  padding: 10rem 0 10rem 0;
  margin: 11rem 0 0 0;
}

.berufs-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  max-width: 80rem;

  img {
    width: 10rem;
    padding: 2rem;
  }
}

.berufs-text {
  font-family: $montserrat-semi-bold-font-family;
  color: $white;
  font-size: 2rem;
  line-height: 2.5rem;

  text-align: center;

  width: 80%;
  max-width: 80rem;

  margin: 6rem 0 0 0;
}

.berufs-button {
  @include transparent-button;

  margin-top: 6rem;
}

// ? Contact Section

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;
  width: 100%;

  margin: 9rem 0 14rem 0;
}

.contact-button {
  @include gradient-button-dark;

  margin-top: 6rem;
}

// ? ALL Media queries

@include medium {
  .heading-content-container {
    margin: 5rem 0 5rem 0;

    h2 {
      font-size: 3.5rem;
      line-height: 4.5rem;
    }
  }

  .button-container {
    margin-top: 3.5rem;
  }
}

@include large {
  .heading-content-container {
    margin: 5rem 0 5rem 0;

    h2 {
      font-size: 3.5rem;
      line-height: 4.5rem;
    }
  }

  .button-container {
    margin-top: 3.5rem;
  }
}

@include extra-large {
  .heading-content-container {
    margin-top: 3rem;
  }
}

@include extra-extra-large {
  .heading-content-container {
    margin: 5rem 0 5rem 0;

    h2 {
      font-size: 3.5rem;
      line-height: 4.5rem;
    }
  }

  .button-container {
    margin-top: 3.5rem;
  }
}
