@import "../../Styling/global.scss";

// ? Full page

.home-page-container {
  position: relative;
  width: 100vw;
}

.headings {
  color: $headings-colour;
  font-family: $headings-font;
  font-size: $headings-font-size;

  text-align: center;

  hyphens: auto;
  word-wrap: break-word;

  padding: 0 2rem 0 2rem;
}

// ? Landing View

.landing-view-container {
  position: relative;
  width: 100%;
  height: 100vh;
  //   background-color: $eggshell;
  background-color: $white;

  .road-img {
    position: absolute;
    right: 10rem;
    top: 60vh;

    // opacity: 0.9;
    // width: 15rem;
    height: 40vh;

    object-fit: contain;
  }
}

.smaller-circle {
  position: absolute;
  top: 51vh;
  left: 39rem;

  width: 25rem;
  height: 25rem;

  background-color: $logo-green;
  opacity: 0.7;

  border-radius: 50%;

  z-index: 9000;

  // box-shadow: rgba(38, 144, 27, 0.4) 5px 5px, rgba(38, 144, 27, 0.3) 10px 10px,
  //   rgba(38, 144, 27, 0.2) 15px 15px, rgba(38, 144, 27, 0.1) 20px 20px,
  //   rgba(38, 144, 27, 0.05) 25px 25px;
}

.circle-div {
  position: absolute;
  top: 30vh;
  left: 10rem;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 45rem;
  height: 45rem;
  border-radius: 50%;
  background-color: rgba(26, 111, 92, 0.8);

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

  z-index: 9001;

  h2 {
    position: relative;

    text-align: center;
    font-family: $roboto-bold-italic-font-family;
    font-size: 5rem;
    line-height: 6rem;
    color: $cream;

    transform: rotate(-10deg);

    margin: 3rem;

    // background-position: top;
    // background-size: cover;
    // color: transparent;
    // background-image: url("../Home/Static/blob-group.svg");
    // background-clip: text;
    // -webkit-background-clip: text;

    // text-shadow: 0 2px 1px grey, -1px 3px 1px grey, -2px 5px 1px grey;

    // text-shadow: 10px 10px 25px rgb(189, 187, 181),
    //   -10px 10px 25px rgb(189, 187, 181), -10px -10px 25px rgb(189, 187, 181),
    //   10px -10px 25px rgb(189, 187, 181);

    letter-spacing: 0.2rem;
    text-shadow: 0px 11px 10px rgba(84, 83, 81, 0.8);
  }

  h2::before {
    background-image: url("../Home/Static/quote.png");
    background-size: contain;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    content: "";

    position: absolute;
    left: -7.2rem;
    top: -4rem;

    transform: rotate(180deg);
  }

  h2::after {
    background-image: url("../Home/Static/quote.png");
    background-size: contain;
    display: inline-block;
    width: 8rem;
    height: 8rem;
    content: "";

    position: absolute;
    right: -4.2rem;
  }
}

// ? About Section

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;
  background-color: $eggshell;

  padding: 6rem 0 10rem 0;
}

.about-content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 3rem;
}

.about-text-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
  padding: 1rem 0 4rem 0;
}

.about-paragraph {
  color: $main-font-green;
  font-family: $main-font-font-family;

  font-size: $paragraph-font-size-small;

  max-width: 35rem;

  text-align: center;
  line-height: 2.5rem;

  padding: 3rem 0 4.5rem 0;
}

.gradient-button-dark {
  @include gradient-button-dark;
}

// @media (hover: hover) {
//   .dark-button:hover {
//     background-color: $logo-green;
//   }
// }

.team-photo {
  width: 60%;
  max-width: 65rem;

  object-fit: contain;
  border-radius: 1.5rem;
  margin-top: 2.5rem;
}

// ? Extra Info Section

.extra-info-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;

  padding: 10rem 0 10rem 0;
}

.extra-info-heading {
  width: 80%;
  max-width: 60rem;

  margin-top: 3rem;
}

.extra-info-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  margin: 6rem 0 2rem 0;
}

.info-boxes {
  display: grid;
  grid-template-rows: 11rem 9rem;

  width: 20rem;
  height: 20rem;

  margin: 2rem;

  //   border: 2px solid red;
}

.info-icon {
  //   background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 7rem;
  }
}

.info-text {
  display: flex;
  justify-content: center;
  text-align: center;

  h4 {
    font-family: $headings-font;
    font-size: 1.4rem;
  }
}

.gradient-button-light {
  @include gradient-button-light;
}

.dividing-line {
  background-color: lighten($dark-green, 5%);
  height: 0.25rem;
  width: 80%;

  margin: 15rem 0 0 0;
}

// ? Berufskraftfahrerqualifikation Section

.berufs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: auto;

  padding: 0 0 10rem 0;
  margin-top: -2rem;
}

.berufs-background-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: $brighter-logo-green;
  width: 100%;
  height: auto;

  padding: 10rem 0 10rem 0;
  margin: 11rem 0 0 0;
}

.berufs-icons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
  max-width: 80rem;

  img {
    width: 10rem;
    padding: 2rem;
  }
}

.berufs-text {
  font-family: $montserrat-semi-bold-font-family;
  color: $white;
  font-size: 2rem;
  line-height: 2.5rem;

  text-align: center;

  width: 80%;
  max-width: 80rem;

  margin: 6rem 0 0 0;
}

.berufs-button {
  @include transparent-button;

  margin-top: 6rem;
}

// ? Contact Section

.contact-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;
  width: 100%;

  margin: 9rem 0 14rem 0;
}

.contact-button {
  @include gradient-button-dark;

  margin-top: 6rem;
}

// ? ALL Media queries

@include x-small {
  .berufs-icons-container {
    img {
      width: 7rem;
      padding: 2rem;
    }
  }

  .berufs-text {
    font-size: 1.6rem;

    margin-top: 4rem;
  }

  .berufs-button {
    margin-top: 5rem;
  }
}

@include small {
  .berufs-icons-container {
    img {
      width: 7rem;
      padding: 2rem;
    }
  }

  .berufs-text {
    font-size: 1.6rem;

    margin-top: 4rem;
  }

  .berufs-button {
    margin-top: 5rem;
  }

  .contact-section {
    margin: 11rem 0 16rem 0;
  }
}

@include medium {
  .about-content-container {
    flex-direction: row;

    width: 80%;
  }

  .about-text-container {
    width: 50%;
    margin-right: 6rem;
  }

  .team-photo {
    width: 40%;
    margin-top: 0;
  }

  .contact-section {
    margin: 13rem 0 18rem 0;
  }
}

@include large {
  .about-content-container {
    flex-direction: row;

    width: 80%;
  }

  .about-text-container {
    width: 50%;
    margin-right: 6rem;
  }

  .team-photo {
    width: 40%;
    margin-top: 0;
  }

  .contact-section {
    margin: 15rem 0 20rem 0;
  }
}

@include extra-large {
  .about-content-container {
    flex-direction: row;
  }

  .about-text-container {
    width: 50%;
    margin-right: 8rem;
  }

  .team-photo {
    width: 50%;
    margin-top: 0;
  }

  .contact-section {
    margin: 15rem 0 20rem 0;
  }
}

@include extra-extra-large {
  .about-section {
    padding: 12rem 0 12rem 0;
  }

  .about-content-container {
    flex-direction: row;
  }

  .about-text-container {
    width: 50%;
    margin-right: 10rem;
  }

  .team-photo {
    width: 50%;
    margin-top: 0;
  }

  .contact-section {
    margin: 15rem 0 20rem 0;
  }
}
